<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Register">Rejestracja</title>
</head>
<body>
    <div>
        <form style="margin-left: 30%; margin-right: 30%" th:action="@{/register}" th:method="post">
            <fieldset>
                <h2 stype="position: center">Rejestracja</h2>
                <div>
                    <label>Nazwa Użytkownika:
                        <input th:name="username" type="email"/>
                    </label>
                </div>
                <div>
                    <label>Hasło:
                        <input th:name="password" type="password"/>
                    </label>
                </div>
            </fieldset>
            <fieldset>
                <div>
                    <button type="submit">Zarejestruj</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>